{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="px-4">
<h4 class="py-3"><b>Dentists</b></h4>
<div class="">

<h6><b>Patient Details</b></h6>

<!-- form starts -->
<form method="POST" action="{% url 'addnewpatient' %}" enctype="multipart/form-data">
{% csrf_token %}
  <div class="row px-3 py-2">
  <h6 class="py-3">Patient Information</h6>
    
    <div class="col-sm-12">
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"style="color:white;background:#294C3E;">
   {{message}}
 </div>
{% endfor %}
</div>

    <div class="col-sm-6 my-3">
    <label for="PatientName">Patient name</label>
      <input type="text" class="form-control border-0" style="background:#EBEBEB" required="required" placeholder="Patient name" name="PatientName">
    </div>

    <div class="col-sm-6 my-3">
    <label for="PatientSurname">Patient surname</label>
      <input type="text" class="form-control border-0" style="background:#EBEBEB" required="required" placeholder="Patient surname" name="PatientSurname">
    </div>

   <div class="col-sm-6 my-3">
    <label for="Clinic">Clinic</label>
      <input type="text" class="form-control border-0" style="background:#EBEBEB" required="required" placeholder="Clinic A" name="Clinic">
    </div>

<h6 class="mt-5"><b>Treatment Plan Request</b></h6>
       <div class="col-sm-6 my-3">
<label for="Fee">Upload Filled Treatment Request File 
   
    {% for treatmentrequestfile in treatmentrequestfile %}
    (<small><span style="font-size:10px;"><span ><a class="text-primary"href="{{treatmentrequestfile.File.url}}" download>Download</a></span> Unfilled treatment request file</span></small> )
    {% endfor %}

</label>
      <input type="file" class="form-control border-0" style="background:#EBEBEB" placeholder="" name="TreatmentRequest">
    </div>

    <div class="col-sm-6 my-3">
    <label for="OralScanUpper">Oral Scan(Upper Jaw)</label>
      <input type="file" class="form-control border-0" style="background:#EBEBEB" placeholder="Fee" name="OralScanUpper">
    </div>
    <div class="col-sm-6 my-3">
    <label for="OralScanLower">Oral Scan(Lover Jaw)</label>
      <input type="file" class="form-control border-0" style="background:#EBEBEB" placeholder="Fee" name="OralScanLower">
    </div>    

<h6 class="mt-5"><b>Upload Images</b></h6>
       <div class="col-sm-4 my-3">
    <label for="Fee">Image 1</label>

      <input type="file" class="form-control border-0" style="background:#EBEBEB" placeholder="Fee" name="Image1">
    </div>

       <div class="col-sm-4 my-3">
    <label for="Fee">Image 2 (Optional)</label>
      <input type="file" class="form-control border-0" style="background:#EBEBEB" placeholder="Fee" name="Image2">
    </div>

           <div class="col-sm-4 my-3">
    <label for="Fee">Image 3 (Optional)</label>
      <input type="file" class="form-control border-0" style="background:#EBEBEB" placeholder="Fee" name="Image3">
    </div>

 
<div class="col-sm-4 my-3">
<div class="card rounded border px-3 py-2"style="background:#ECECEC;">
<h6>3D View</h6>
<div class="d-flex justify-content-between">
    <div class="form-check form-check-inline">
  <input class="form-check-input selected" type="radio" value = "Yes"  name="ThreeDViewRequest">
  <label class="form-check-label" for="Yes">Yes</label>
   </div>

       <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" checked value="No" name="ThreeDViewRequest">
  <label class="form-check-label" for="No">No</label>
   </div>
</div>
</div>
</div>

<div class="col-sm-4 my-3">
<div class="card rounded border px-3 py-2"style="background:#ECECEC;">
<h6>Arrange Collection</h6>
<div class="d-flex justify-content-between">
    <div class="form-check form-check-inline">
  <input class="form-check-input selected" type="radio" value = "Yes" name="ArrangeCollection">
  <label class="form-check-label" for="Yes">Yes</label>
   </div>

       <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" checked value="No" name="ArrangeCollection">
  <label class="form-check-label" for="No">No</label>
   </div>
</div>
</div>
</div>
 
    
       <div class="col-sm-12 my-3">
    <label for="Note">Note</label>
    <textarea class="form-control border-0" style="background:#EBEBEB" style="font-size:12px;" type="text" rows="6" cols="" placeholder="Write a note" name="DentistNote"></textarea>
    </div>




<div class="col-sm-12 py-4"style="margin:auto;">
  <input type="submit" class="btn btn-primary px-5 py-2" value="Submit">   
</div>



  </div>
</form>
<!-- form ends -->


</div>

</section>
{% endblock body %}
