{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="px-4">
<h4 class="py-3"><b>Patients</b></h4>
<div class="">

<span class="text-secondary">UKALIGNERS Dental Home</span>
<h6><b>{{user.first_name}} {{user.last_name}}</b></h6>

<div class="d-flex justify-content-between py-3">
<h5><b>All Patients</b></h5>
<a href="{% url 'addnewpatient' %}" class="btn btn-sm text-light"><i class="fas fa-plus mx-1"></i> Add new patient</a>
</div>

<div class="col-sm-12 px-0 pb-3 my-3 table-responsive"style="font-size:14px;">
<table class="table ">
<thead class="text-secondary">
<tr>
<th scope="col">Date</th>
<th scope="col">Patient name</th>
<th scope="col">Clinic</th>
<th scope="col">Status</th>
{% if user.is_superuser %}
<th scope="col">Internal Progress</th>
{% endif %}
{% if user.is_superuser %}
<th scope="col">Dentist Note</th>
{% endif %}
{% if not user.is_superuser %}
<th scope="col">Admin Note</th>
{% endif %}

</tr>
</thead>

<tbody>

{% for patients in mypatients %}

<tr>
<td>{{patients.Date}}</td>
<td><a href="/patientdetail/{{patients.id}}/">{{patients.PatientName}}</a></td>
<td>{{patients.Clinic}}</td>
<td>{{patients.Status}}</td>
{% if user.is_superuser %}
<td>{{patients.InternalStatus}}</td>
<td style="max-width:300px;">{{patients.DentistNote}}</td>
{% endif %}
{% if not user.is_superuser %}
<td style="max-width:300px;">{{patients.AdminNote}}</td>
{% endif %}
</tr>


{% endfor %}

</tbody>
</table>
</div>


</div>

</section>
{% endblock body %}
