{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="px-4">
<h4 class="py-3"><b>Referrals</b></h4>
<div class="">

<span class="text-secondary">UKALIGNERS Dental Home</span>
<h6><b>{{user.first_name}} {{user.last_name}}</b></h6>

<div class="d-flex justify-content-between py-3">
<h5><b>All Referrals</b></h5>
<a href="{% url 'addnewreferral' %}" class="btn btn-sm text-light"><i class="fas fa-plus mx-1"></i> Add new referral</a>
</div>

<div class="col-sm-12 px-0 pb-3 my-3 table-responsive"style="font-size:14px;">
<table class="table ">
<thead class="text-secondary">
<tr>
<th scope="col">Dentist</th>
<th scope="col">Date</th>
<th scope="col">Patient name</th>
<th scope="col">Patient phone</th>
<th scope="col">Patient email</th>
<th scope="col">Referral Reason</th>
<th scope="col">Status</th>


</tr>
</thead>

<tbody>

{% for referrals in myreferrals %}

<tr>
<td>{{referrals.Dentist}}</td>
<td>{{referrals.Date}}</td>
<td><a href="/referraldetail/{{referrals.id}}/">{{referrals.PatientName}}</a></td>
<td>{{referrals.PatientPhone}}</td>
<td>{{referrals.PatientEmail}}</td>
<td>{{referrals.ReferralReason}}</td>
<td>{{referrals.Status}}</td>

<td style="max-width:300px;">{{patients.Note}}</td>
</tr>


{% endfor %}

</tbody>
</table>
</div>


</div>

</section>
{% endblock body %}
